body {
    background-color: coral;
}

.titulo {
    font-style: oblique;
    font-size: larger;
    font-weight: bolder;
    color: black;
}


.requesitos {
    color: blue;
    font-weight: 700;
    font-style: normal;
}


.instruções {
    color: orange;
}